.link {
  position: relative;
  display: inline-block;
}

.copied {
  position: fixed;
  top: 1.5rem;
  left: 50%;

  transform: translateX(-50%);

  padding: 0.75rem 1rem;

  background: var(--surface);
  color: var(--text-primary);
  font-family: var(--font-azeret-mono);
  font-size: var(--text-xs);
  text-transform: uppercase;

  border-radius: 0.125em;

  z-index: 9999;

  pointer-events: none;
}

.underline {
  position: absolute;
  right: 0;
  bottom: -0.1em;
  left: 0;
  height: 0.063em;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left center;
  pointer-events: none;
}
