.projectItem {
  display: flex;
  flex-direction: column;
  gap: 0.625em;

  .imageContainer {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    background: var(--surface);
  }

  .image {
    object-fit: cover;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 0.125em;

    .title {
      font-size: var(--text-base);
      font-weight: 500;
    }

    .subtitle {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      font-size: var(--text-sm);
      color: var(--text-secondary);
    }
  }
}
