.projectItem {
  display: flex;
  flex-direction: column;
  gap: 0.625em;

  .imageContainer {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    background: var(--surface);

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      border: 0.063em solid var(--text-secondary);

      .image {
        transform: scale(1.1);
      }
    }
  }

  .imageWrapper {
    position: relative;
    width: 80%;
    height: 100%;
  }

  .image {
    object-fit: contain;
    transition: transform 0.3s ease;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 0.125em;

    .title {
      font-size: var(--text-base);
      font-weight: 500;
    }

    .subtitle {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      font-size: var(--text-sm);
      color: var(--text-secondary);
    }
  }
}
