.page {
  flex: 1;
  display: flex;
  flex-direction: column;

  > * {
    flex: 1;
  }
}

.notFound {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.25em;

  .text {
    display: flex;
    flex-direction: column;
    gap: 0.25em;

    .title {
      font-size: var(--text-xl);
      font-weight: 500;
    }

    .subtitle {
      font-size: var(--text-base);
      color: var(--text-secondary);
    }
  }
}
