@use "../../styles/variables" as *;

.footer {
  display: flex;
  flex-direction: column;

  .contact {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      flex-direction: column;
      gap: 0.25em;

      .header {
        display: flex;
        align-items: center;
        gap: 0.625em;

        .title {
          font-size: var(--text-xl);
          font-weight: 500;
        }
      }

      .subtitle {
        font-size: var(--text-base);
        color: var(--text-secondary);
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 0.75em;
      align-items: flex-end;

      .link {
        font-size: var(--text-sm);
        color: var(--text-primary);
        text-decoration: underline;
        cursor: pointer;
      }
    }

    @media only screen and (max-width: $breakpoint-md) {
      gap: 2em;
      flex-direction: column;

      .right {
        align-items: flex-start;
      }
    }
  }

  .bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $breakpoint-sm) {
      flex-direction: column;
      justify-content: center;
      gap: 0.75em;
    }

    .copyright {
      font-size: var(--text-sm);
      color: var(--text-secondary);
    }

    .action {
      display: block;

      @media only screen and (max-width: $breakpoint-sm) {
        display: none;
      }
    }
  }
}
