.footer {
  display: flex;
  flex-direction: column;

  .contact {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      flex-direction: column;
      gap: 0.25em;

      .header {
        display: flex;
        align-items: center;
        gap: 0.625em;

        .title {
          font-size: var(--text-xl);
          font-weight: 500;
        }
      }

      .subtitle {
        font-size: var(--text-base);
        color: var(--text-secondary);
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 0.75em;
      align-items: flex-end;

      .link {
        font-size: var(--text-sm);
        color: var(--text-primary);
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .copyright {
    font-size: var(--text-sm);
    color: var(--text-secondary);
  }
}
